# IBM Data Science Certification

### CapStone Project
---
### Geospatial Analysis of Sheffield, United Kingdom
#### Identify areas of Sheffield that are compatable and areas that would be good to open a coffee shop

**1. Introudction**
> I wish to develop a model for people who are thinking of moving to or opeping a business in Sheffield, UK


**2. Problem Description**
> A person wishes to move to Sheffield and open a coffee shop. They wish to now the best area/postcode to
move to and where is the best place to open there business

Specifcs I will need to know about the person before in order to gain a good result.
1. What determins a good area to live in?  **An area with lots of parks and low crime**
2. What kind of resteraunt they will be opening? **Coffee Shop**
3. What determines a good location to open a business? **Not an area which is already saturated**

This will have to be an interative approach to help refine the model as I add more specifics to it

**3. Data Required**
> What data scources will I need access to and what packages will I be using

1. Geospation data to indentify where Sheffield is, and where its areas/postcodes are.
    **Postcode.csv is from the royal mail data portal it contains the high level postcodes for Sheffield with the corespoding geo coordinates**
2. Foursquare API in order to identify what kind of facilites are in each area.
3. Pandas, Numpy, Skylearn, Geopy, Folium
4. Crime Data for Sheffield for the last year?
    **The crime data will come from UK police force data portal**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import folium
import requests
import json
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim
print('First Libaries Imported')

First Libaries Imported

In [2]:
with open('SheffBond.json') as json_data:
    sheffield_data = json.load(json_data)

In [3]:
sheffPcodes = pd.read_csv('Postcodes.csv')
print(sheffPcodes.columns)
sheffPcodes.head()

Index(['Postcode', 'Latitude', 'Longitude', 'Easting', 'Northing',
       'Grid Reference', 'Town/Area', 'Region', 'Postcodes',
       'Active postcodes', 'Population', 'Households', 'Nearby districts'],
      dtype='object')

,Postcode,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts
0,AB1,57.1269,-2.13644,391839.0,804005.0,NJ918040,Aberdeen,Aberdeen,2655.0,0.0,NaN,NaN,"AB10, AB9, AB15, AB25, AB2, AB12, AB16, AB11, ..."
1,AB2,57.1713,-2.14152,391541.0,808948.0,NJ915089,Aberdeen,Aberdeen,3070.0,0.0,NaN,NaN,"AB16, AB22, AB24, AB25, AB1, AB9, AB15, AB10, ..."
2,AB3,57.0876,-2.59624,363963.0,799780.0,NO639997,Aberdeen,Aberdeen,2168.0,0.0,NaN,NaN,"AB31, AB34, AB52, AB33, AB14, AB32, AB30, AB13..."
3,AB4,57.5343,-2.12713,392487.0,849358.0,NJ924493,"Fraserburgh, Peterhead, Macduff",Aberdeen,2956.0,0.0,NaN,NaN,"AB41, AB43, AB42, AB53, AB22, AB23, AB2, AB24,..."
4,AB5,57.4652,-2.64764,361248.0,841843.0,NJ612418,"Buckie, Huntly, Inverurie",Aberdeen,3002.0,0.0,NaN,NaN,"AB54, AB52, AB45, AB53, AB33, AB44, AB55, AB51..."

In [4]:
sheffPcodes.drop(columns=['Easting', 'Northing','Grid Reference', 'Postcodes','Active postcodes', 'Population', 'Households', 'Nearby districts'], inplace=True)
sheffPcodes.head()

  Postcode  Latitude  Longitude                        Town/Area    Region
0      AB1   57.1269   -2.13644                         Aberdeen  Aberdeen
1      AB2   57.1713   -2.14152                         Aberdeen  Aberdeen
2      AB3   57.0876   -2.59624                         Aberdeen  Aberdeen
3      AB4   57.5343   -2.12713  Fraserburgh, Peterhead, Macduff  Aberdeen
4      AB5   57.4652   -2.64764        Buckie, Huntly, Inverurie  Aberdeen

In [5]:
sheffPC = sheffPcodes.loc[sheffPcodes['Region']=='Sheffield']
sheffPC = sheffPC.loc[sheffPcodes['Town/Area']!='Bulk users']
sheffPC = sheffPC.loc[sheffPcodes['Town/Area']!='Non-geographic']
sheffPC.head()

,Postcode,Latitude,Longitude,Town/Area,Region
2353,S1,53.3806,-1.46947,Sheffield City Centre,Sheffield
2354,S2,53.3714,-1.45078,"Arbourthorne, Heeley, Highfield, Manor, Norfol...",Sheffield
2355,S3,53.3868,-1.47302,"Broomhall, Burngreave, Neepsend, Netherthorpe",Sheffield
2356,S4,53.3977,-1.45150,"Grimesthorpe, Pitsmoor",Sheffield
2357,S5,53.4223,-1.46223,"Firth Park, Shirecliffe, Shiregreen, Southey G...",Sheffield

In [6]:
sheffPC

,Postcode,Latitude,Longitude,Town/Area,Region
2353,S1,53.3806,-1.46947,Sheffield City Centre,Sheffield
2354,S2,53.3714,-1.45078,"Arbourthorne, Heeley, Highfield, Manor, Norfol...",Sheffield
2355,S3,53.3868,-1.47302,"Broomhall, Burngreave, Neepsend, Netherthorpe",Sheffield
2356,S4,53.3977,-1.45150,"Grimesthorpe, Pitsmoor",Sheffield
2357,S5,53.4223,-1.46223,"Firth Park, Shirecliffe, Shiregreen, Southey G...",Sheffield
2358,S6,53.4024,-1.50940,"Bradfield, Hillsborough, Malin Bridge, Stannin...",Sheffield
2359,S7,53.3547,-1.48990,"Abbeydale, Nether Edge, Millhouses, Carter Knowle",Sheffield
2360,S8,53.3428,-1.47936,"Batemoor, Beauchief, Greenhill, Jordanthorpe, ...",Sheffield
2361,S9,53.3968,-1.42101,"Attercliffe, Brightside, Darnall, Meadowhall, ...",Sheffield
2362,S10,53.3771,-1.51691,"Broomhill, Broomhall, Crookes, Crookesmoor, Fu...",Sheffield
2363,S11,53.3607,-1.50806,"Ecclesall, Endcliffe Park, Ecclesall Road, Gre...",Sheffield
2364,S12,53.3498,-1.40904,"Birley, Gleadless, Gleadless Townend, Hackenth...",Sheffield
2365,S13,53.3648,-1.38448,"Handsworth, Richmond, Woodhouse",Sheffield
2366,S14,53.3471,-1.44489,Gleadless Valley,Sheffield
2367,S17,53.3225,-1.52609,"Dore, Totley, Bradway",Sheffield
2369,S19,53.3345,-1.35160,"Hackenthorpe, Beighton, Mosborough",Sheffield
2370,S20,53.3343,-1.34975,"Westfield, Waterthope, Sothall, Donetsk Way, O...",Sheffield
2374,S30,53.4457,-1.57621,"Penistone, Stocksbridge, Chapeltown, Hope Valley",Sheffield
2378,S35,53.4581,-1.49523,"Chapeltown, Ecclesfield, Grenoside, High Green...",Sheffield

In [7]:
sheffPC.describe(include='all')

,Postcode,Latitude,Longitude,Town/Area,Region
count,19,19.000000,19.000000,19,19
unique,19,NaN,NaN,19,1
top,S6,NaN,NaN,"Attercliffe, Brightside, Darnall, Meadowhall, ...",Sheffield
freq,1,NaN,NaN,1,19
mean,NaN,53.376321,-1.461523,NaN,NaN
std,NaN,0.037462,0.059021,NaN,NaN
min,NaN,53.322500,-1.576210,NaN,NaN
25%,NaN,53.348450,-1.501645,NaN,NaN
50%,NaN,53.371400,-1.469470,NaN,NaN
75%,NaN,53.397250,-1.432950,NaN,NaN
max,NaN,53.458100,-1.349750,NaN,NaN

In [8]:
from geopy import distance
x = sheffPC.to_numpy()

In [9]:
dis=[]
for i in range(0,18):
    xx = (x[i][1],x[i][2])
    yy = (x[i+1][1],x[i+1][2])
    dis.append(distance.distance(xx,yy).miles)
    print(distance.distance(xx,yy).miles)

1.00107750682084
1.4070973013409396
1.1660072845738412
1.7580370639792442
2.385890197134839
3.395795113994236
0.9313676323208965
4.446291940887556
4.19234198429254
1.1917391683597898
4.165611937516853
1.4520565315262965
2.7829904163042314
3.7671609352541466
7.271360528267606
0.07781804668035643
12.124113530120555
3.4511108049659662

In [11]:
address = 'Sheffield, UK'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Sheffield City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Sheffield City are 53.3806626, -1.4702278.

In [12]:
map_newyork = folium.Map(location=[latitude, longitude], zoom_start=10)

for lat, lng, borough in zip(sheffPC['Latitude'], sheffPC['Longitude'], sheffPC['Postcode']):
    label = '{}'.format(borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_newyork)  
    
map_newyork

### Download the FourSquare Data
asjdklajd

In [13]:
CLIENT_ID = 'DGDX1XAM550KJLBZQQ3ZHXT31TCB4K1FXFSNWV3UN3D5AO1R' # your Foursquare ID
CLIENT_SECRET = '3JQ0NARLOI01EXULDXMQWUX3ZDGWUJWTPRBDDGH1HHJ14MCR' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DGDX1XAM550KJLBZQQ3ZHXT31TCB4K1FXFSNWV3UN3D5AO1R
CLIENT_SECRET:3JQ0NARLOI01EXULDXMQWUX3ZDGWUJWTPRBDDGH1HHJ14MCR

In [14]:
# type your answer here
LIMIT = 100
radius = 1500
neighborhood_latitude = x[1][1]
neighborhood_longitude =x[1][2]
# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=DGDX1XAM550KJLBZQQ3ZHXT31TCB4K1FXFSNWV3UN3D5AO1R&client_secret=3JQ0NARLOI01EXULDXMQWUX3ZDGWUJWTPRBDDGH1HHJ14MCR&v=20180605&ll=53.3714,-1.45078&radius=1500&limit=100'

In [15]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5eb2c62a216785001be108cd'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Arbourthorne',
  'headerFullLocation': 'Arbourthorne, Sheffield',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 24,
  'suggestedBounds': {'ne': {'lat': 53.384900013500015,
    'lng': -1.4281949670721095},
   'sw': {'lat': 53.35789998649999, 'lng': -1.4733650329278905}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c7bb3f881bca093d3db0315',
       'name': 'Norfolk Heritage Park',
       'location': {'address': 'Guildford Ave',
        'lat': 53.372893889245766,
        'lng': -1.4536486042473773,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.372893889245766,
          'lng': -1.4536486042473773}],
        'distance': 252,
        'postalCode': 'S2 2PL',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['Guildford Ave',
         'Sheffield',
         'S2 2PL',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c7bb3f881bca093d3db0315-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b0198b7f964a520be4322e3',
       'name': 'The Showroom Cinema',
       'location': {'address': 'Paternoster Row',
        'lat': 53.37728462943593,
        'lng': -1.4652480039571554,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37728462943593,
          'lng': -1.4652480039571554}],
        'distance': 1162,
        'postalCode': 'S1 2BX',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['Paternoster Row',
         'Sheffield',
         'S1 2BX',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d17e941735',
         'name': 'Indie Movie Theater',
         'pluralName': 'Indie Movie Theaters',
         'shortName': 'Indie Movies',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/movietheater_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b0198b7f964a520be4322e3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4fb259c9e4b0ea9c3a983b24',
       'name': 'The Street Food Chef',
       'location': {'address': '90 Arundel St',
        'lat': 53.3765333634334,
        'lng': -1.4687910676002502,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.3765333634334,
          'lng': -1.4687910676002502}],
        'distance': 1325,
        'postalCode': 'S1 4RE',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['90 Arundel St',
         'Sheffield',
         'S1 4RE',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d153941735',
         'name': 'Burrito Place',
         'pluralName': 'Burrito Places',
         'shortName': 'Burritos',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burrito_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4fb259c9e4b0ea9c3a983b24-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b4e33e7f964a52016e526e3',
       'name': 'Sheffield Tap',
       'location': {'address': 'Sheffield Railway Station',
        'crossStreet': 'Sheaf St',
        'lat': 53.378675963156596,
        'lng': -1.4624489668227516,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.378675963156596,
          'lng': -1.4624489668227516}],
        'distance': 1120,
        'postalCode': 'S1 2BP',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['Sheffield Railway Station (Sheaf St)',
         'Sheffield',
         'S1 2BP',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d11b941735',
         'name': 'Pub',
         'pluralName': 'Pubs',
         'shortName': 'Pub',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b4e33e7f964a52016e526e3-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bfa4b855ec320a1606b8bd3',
       'name': 'PureGym',
       'location': {'address': '9-15 Manton St',
        'crossStreet': 'Sheaf Gardens',
        'lat': 53.374310490033956,
        'lng': -1.4635494396224737,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.374310490033956,
          'lng': -1.4635494396224737}],
        'distance': 907,
        'postalCode': 'S2 4BA',
        'cc': 'GB',
        'city': 'Sheffield',
        'state': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['9-15 Manton St (Sheaf Gardens)',
         'Sheffield',
         'S2 4BA',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d175941735',
         'name': 'Gym / Fitness Center',
         'pluralName': 'Gyms or Fitness Centers',
         'shortName': 'Gym / Fitness',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bfa4b855ec320a1606b8bd3-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51f9fe67498e9ffe9ce6fd14',
       'name': 'Tamper at Sellers Wheel',
       'location': {'address': '149 Arundel St',
        'lat': 53.37744099091449,
        'lng': -1.4675567808866659,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37744099091449,
          'lng': -1.4675567808866659}],
        'distance': 1301,
        'postalCode': 'S1 2NU',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['149 Arundel St',
         'Sheffield',
         'S1 2NU',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51f9fe67498e9ffe9ce6fd14-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '571a04cb498e4010d8e11137',
       'name': 'HowSt',
       'location': {'address': '46 Howard Street',
        'lat': 53.37868221872384,
        'lng': -1.466776728630066,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37868221872384,
          'lng': -1.466776728630066}],
        'distance': 1336,
        'postalCode': 'S1 2LX',
        'cc': 'GB',
        'city': 'Sheffield',
        'state': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['46 Howard Street',
         'Sheffield',
         'S1 2LX',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-571a04cb498e4010d8e11137-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b599b8af964a520a88e28e3',
       'name': 'Rutland Arms',
       'location': {'address': '86 Brown St',
        'lat': 53.37651765429471,
        'lng': -1.46756183347822,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37651765429471,
          'lng': -1.46756183347822}],
        'distance': 1251,
        'postalCode': 'S1 2BS',
        'cc': 'GB',
        'neighborhood': 'Central Sheffield',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['86 Brown St',
         'Sheffield',
         'S1 2BS',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d11b941735',
         'name': 'Pub',
         'pluralName': 'Pubs',
         'shortName': 'Pub',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b599b8af964a520a88e28e3-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b8d4680f964a52063f132e3',
       'name': 'Winter Gardens',
       'location': {'address': '90 Surrey St',
        'lat': 53.37993528862788,
        'lng': -1.4680075034322133,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37993528862788,
          'lng': -1.4680075034322133}],
        'distance': 1487,
        'postalCode': 'S1 2LH',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['90 Surrey St',
         'Sheffield',
         'S1 2LH',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d15a941735',
         'name': 'Garden',
         'pluralName': 'Gardens',
         'shortName': 'Garden',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/garden_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b8d4680f964a52063f132e3-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ceeba1f28abb60c072abf09',
       'name': 'The Showroom Bar',
       'location': {'address': '7 Paternoster Row',
        'lat': 53.37754,
        'lng': -1.4652466,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37754,
          'lng': -1.4652466}],
        'distance': 1179,
        'postalCode': 'S1 2BX',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['7 Paternoster Row',
         'Sheffield',
         'S1 2BX',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d116941735',
         'name': 'Bar',
         'pluralName': 'Bars',
         'shortName': 'Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ceeba1f28abb60c072abf09-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50a24135e4b0033f82e61e84',
       'name': 'Motore Cafe',
       'location': {'lat': 53.37830090384085,
        'lng': -1.4654416052266745,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37830090384085,
          'lng': -1.4654416052266745}],
        'distance': 1240,
        'cc': 'GB',
        'country': 'United Kingdom',
        'formattedAddress': ['United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50a24135e4b0033f82e61e84-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b98f99df964a520a95935e3',
       'name': 'Silversmiths Restaurant',
       'location': {'address': '111 Arundel St.',
        'lat': 53.37831574791436,
        'lng': -1.4667668998754786,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37831574791436,
          'lng': -1.4667668998754786}],
        'distance': 1311,
        'postalCode': 'S1 2NT',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['111 Arundel St.',
         'Sheffield',
         'S1 2NT',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1c4941735',
         'name': 'Restaurant',
         'pluralName': 'Restaurants',
         'shortName': 'Restaurant',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b98f99df964a520a95935e3-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bad260df964a520d0323be3',
       'name': "Old Queen's Head",
       'location': {'address': '40 Pond Hill',
        'lat': 53.38100158608777,
        'lng': -1.4631131892852038,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.38100158608777,
          'lng': -1.4631131892852038}],
        'distance': 1346,
        'postalCode': 'S1 2BG',
        'cc': 'GB',
        'city': 'Sheffield',
        'state': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['40 Pond Hill',
         'Sheffield',
         'S1 2BG',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d11b941735',
         'name': 'Pub',
         'pluralName': 'Pubs',
         'shortName': 'Pub',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bad260df964a520d0323be3-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b9383fef964a520ac4634e3',
       'name': 'Millennium Gallery',
       'location': {'address': '48 Arundel Gate',
        'lat': 53.37977837591993,
        'lng': -1.467537588507259,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37977837591993,
          'lng': -1.467537588507259}],
        'distance': 1452,
        'postalCode': 'S1 2PP',
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['48 Arundel Gate',
         'Sheffield',
         'S1 2PP',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1e2931735',
         'name': 'Art Gallery',
         'pluralName': 'Art Galleries',
         'shortName': 'Art Gallery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/artgallery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b9383fef964a520ac4634e3-13'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '525590fe93cd44d407a6751c',
       'name': 'Smoke Barbeque',
       'location': {'address': "St Paul's Place",
        'crossStreet': 'Arundel Gate',
        'lat': 53.37904113785771,
        'lng': -1.4687462791032018,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37904113785771,
          'lng': -1.4687462791032018}],
        'distance': 1465,
        'postalCode': 'S1 2PN',
        'cc': 'GB',
        'city': 'Sheffield',
        'state': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ["St Paul's Place (Arundel Gate)",
         'Sheffield',
         'S1 2PN',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1df931735',
         'name': 'BBQ Joint',
         'pluralName': 'BBQ Joints',
         'shortName': 'BBQ',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bbqalt_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-525590fe93cd44d407a6751c-14'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '50663536e4b064a76c0cca86',
       'name': 'Genting Casino',
       'location': {'address': 'Arundel Gate',
        'lat': 53.37844047148067,
        'lng': -1.4688000380069193,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37844047148067,
          'lng': -1.4688000380069193}],
        'distance': 1430,
        'postalCode': 'S1 2PN',
        'cc': 'GB',
        'city': 'Sheffield',
        'state': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['Arundel Gate',
         'Sheffield',
         'S1 2PN',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d17c941735',
         'name': 'Casino',
         'pluralName': 'Casinos',
         'shortName': 'Casino',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/casino_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-50663536e4b064a76c0cca86-15'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d40508aaae1b1f79ec585f5',
       'name': 'Millennium Square',
       'location': {'address': 'Sheffield City Centre',
        'lat': 53.37966671295282,
        'lng': -1.4686414214257533,
        'labeledLatLngs': [{'label': 'display',
          'lat': 53.37966671295282,
          'lng': -1.4686414214257533}],
        'distance': 1501,
        'cc': 'GB',
        'city': 'Sheffield',
        'country': 'United Kingdom',
        'formattedAddress': ['Sheffield City Centre',
         'Sheffield',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d164941735',
         'name': 'Plaza',

In [16]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [17]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = pd.json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues.head()

,venue.name,venue.categories,venue.location.lat,venue.location.lng
0,Norfolk Heritage Park,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",53.372894,-1.453649
1,The Showroom Cinema,"[{'id': '4bf58dd8d48988d17e941735', 'name': 'I...",53.377285,-1.465248
2,The Street Food Chef,"[{'id': '4bf58dd8d48988d153941735', 'name': 'B...",53.376533,-1.468791
3,Sheffield Tap,"[{'id': '4bf58dd8d48988d11b941735', 'name': 'P...",53.378676,-1.462449
4,PureGym,"[{'id': '4bf58dd8d48988d175941735', 'name': 'G...",53.374310,-1.463549

In [18]:
# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                    name            categories        lat       lng
0  Norfolk Heritage Park                  Park  53.372894 -1.453649
1    The Showroom Cinema   Indie Movie Theater  53.377285 -1.465248
2   The Street Food Chef         Burrito Place  53.376533 -1.468791
3          Sheffield Tap                   Pub  53.378676 -1.462449
4                PureGym  Gym / Fitness Center  53.374310 -1.463549

In [19]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

24 venues were returned by Foursquare.

In [20]:
nearby_venues['categories'].unique

<bound method Series.unique of 0                     Park
1      Indie Movie Theater
2            Burrito Place
3                      Pub
4     Gym / Fitness Center
5                     Café
6                     Café
7                      Pub
8                   Garden
9                      Bar
10             Coffee Shop
11              Restaurant
12                     Pub
13             Art Gallery
14               BBQ Joint
15                  Casino
16                   Plaza
17          Clothing Store
18           Grocery Store
19    Fast Food Restaurant
20          Discount Store
21                    Pool
22            Tram Station
23                    Café
Name: categories, dtype: object>

In [25]:
def getNearbyVenues(names, latitudes, longitudes, radius=2000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [26]:
sheffield_venues = getNearbyVenues(names=sheffPC['Postcode'],
                                   latitudes=sheffPC['Latitude'],
                                   longitudes=sheffPC['Longitude']
                                  )

S1
S2
S3
S4
S5
S6
S7
S8
S9
S10
S11
S12
S13
S14
S17
S19
S20
S30
S35

In [27]:
print(sheffield_venues.shape)
sheffield_venues.head()

(1009, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,S1,53.3806,-1.46947,Crucible Theatre,53.381021,-1.466653,Theater
1,S1,53.3806,-1.46947,Marmadukes Cafe Deli,53.381121,-1.468207,Deli / Bodega
2,S1,53.3806,-1.46947,Lyceum Theatre,53.380722,-1.467183,Theater
3,S1,53.3806,-1.46947,Peace Gardens,53.379860,-1.469582,Garden
4,S1,53.3806,-1.46947,Edo Sushi,53.383361,-1.467071,Sushi Restaurant

In [28]:
sheffield_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
S1,100,100,100,100,100,100
S10,100,100,100,100,100,100
S11,100,100,100,100,100,100
S12,23,23,23,23,23,23
S13,6,6,6,6,6,6
S14,19,19,19,19,19,19
S17,15,15,15,15,15,15
S19,36,36,36,36,36,36
S2,100,100,100,100,100,100
S20,43,43,43,43,43,43
S3,100,100,100,100,100,100
S30,6,6,6,6,6,6
S35,12,12,12,12,12,12
S4,38,38,38,38,38,38
S5,16,16,16,16,16,16
S6,66,66,66,66,66,66
S7,96,96,96,96,96,96
S8,61,61,61,61,61,61
S9,72,72,72,72,72,72

In [39]:
tmp =sheffield_venues.groupby('Venue Category').count()
tmp.sort_values(by=['Neighborhood'], inplace=True, ascending=False)
tmp.head(10)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude
Venue Category,,,,,,
Pub,151,151,151,151,151,151
Grocery Store,79,79,79,79,79,79
Coffee Shop,52,52,52,52,52,52
Café,40,40,40,40,40,40
Supermarket,32,32,32,32,32,32
Bar,29,29,29,29,29,29
Fast Food Restaurant,28,28,28,28,28,28
Park,28,28,28,28,28,28
Pizza Place,28,28,28,28,28,28
Indian Restaurant,27,27,27,27,27,27

In [29]:
print('There are {} uniques categories.'.format(len(sheffield_venues['Venue Category'].unique())))

There are 134 uniques categories.

In [40]:
# one hot encoding
sheffield_onehot = pd.get_dummies(sheffield_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
sheffield_onehot['Neighborhood'] = sheffield_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [sheffield_onehot.columns[-1]] + list(sheffield_onehot.columns[:-1])
sheffield_onehot = sheffield_onehot[fixed_columns]

sheffield_onehot.head(10)

,Neighborhood,American Restaurant,Art Gallery,Arts & Crafts Store,Arts & Entertainment,Auto Dealership,BBQ Joint,Bagel Shop,Bakery,Bar,...,Tennis Court,Thai Restaurant,Theater,Train Station,Tram Station,Turkish Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Yoga Studio
0,S1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,S1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,S1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,S1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,S1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
sheffield_onehot.shape

(1009, 135)

In [43]:
sheffield_grouped = sheffield_onehot.groupby('Neighborhood').mean().reset_index()
sheffield_grouped

,Neighborhood,American Restaurant,Art Gallery,Arts & Crafts Store,Arts & Entertainment,Auto Dealership,BBQ Joint,Bagel Shop,Bakery,Bar,...,Tennis Court,Thai Restaurant,Theater,Train Station,Tram Station,Turkish Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Yoga Studio
0,S1,0.000000,0.01,0.000000,0.000000,0.000000,0.010000,0.01,0.010000,0.060000,...,0.000000,0.000000,0.020000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
1,S10,0.000000,0.00,0.000000,0.000000,0.000000,0.010000,0.00,0.010000,0.020000,...,0.000000,0.030000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
2,S11,0.000000,0.00,0.000000,0.010000,0.000000,0.010000,0.00,0.020000,0.020000,...,0.000000,0.030000,0.010000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
3,S12,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.260870,0.000000,0.000000,0.000000,0.000000,0.000000
4,S13,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,S14,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.210526,0.000000,0.000000,0.000000,0.000000,0.000000
6,S17,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,S19,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.027778,0.000000
8,S2,0.010000,0.01,0.000000,0.000000,0.000000,0.010000,0.01,0.010000,0.050000,...,0.000000,0.010000,0.020000,0.000000,0.000000,0.020000,0.000000,0.010000,0.000000,0.000000
9,S20,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.069767,0.000000,0.000000,0.000000,0.023256,0.000000
10,S3,0.000000,0.01,0.000000,0.000000,0.000000,0.010000,0.01,0.020000,0.060000,...,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,S30,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.166667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,S35,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,S4,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.052632,0.078947,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,S5,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,S6,0.000000,0.00,0.000000,0.000000,0.015152,0.000000,0.00,0.015152,0.015152,...,0.000000,0.000000,0.000000,0.000000,0.030303,0.000000,0.000000,0.000000,0.000000,0.015152
16,S7,0.000000,0.00,0.000000,0.010417,0.000000,0.010417,0.00,0.020833,0.010417,...,0.000000,0.010417,0.010417,0.000000,0.000000,0.020833,0.000000,0.010417,0.000000,0.000000
17,S8,0.000000,0.00,0.000000,0.016393,0.000000,0.000000,0.00,0.000000,0.032787,...,0.016393,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,S9,0.041667,0.00,0.013889,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.000000,0.013889,0.000000,0.000000,0.000000,0.000000,0.013889,0.000000,0.027778,0.000000

In [44]:
sheffield_grouped.shape

(19, 135)

In [45]:
num_top_venues = 5

for hood in sheffield_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = sheffield_grouped[sheffield_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----S1----
              venue  freq
0               Pub  0.17
1       Coffee Shop  0.09
2               Bar  0.06
3              Café  0.04
4  Sushi Restaurant  0.03


----S10----
               venue  freq
0                Pub  0.20
1      Grocery Store  0.09
2        Coffee Shop  0.05
3  Indian Restaurant  0.05
4     Sandwich Place  0.05


----S11----
            venue  freq
0             Pub  0.19
1   Grocery Store  0.08
2     Coffee Shop  0.05
3     Pizza Place  0.05
4  Sandwich Place  0.05


----S12----
               venue  freq
0      Grocery Store  0.35
1       Tram Station  0.26
2                Pub  0.09
3  Indian Restaurant  0.09
4               Park  0.04


----S13----
                 venue  freq
0        Grocery Store  0.33
1                  Pub  0.33
2        Train Station  0.17
3          Supermarket  0.17
4  American Restaurant  0.00


----S14----
           venue  freq
0  Grocery Store  0.47
1   Tram Station  0.21
2           Food  0.05
3           Café  0.05
4           Park  0.05


----S17----
            venue  freq
0   Grocery Store  0.20
1     Golf Course  0.13
2       Gastropub  0.13
3  Cricket Ground  0.07
4            Park  0.07


----S19----
                  venue  freq
0                   Pub  0.17
1  Fast Food Restaurant  0.08
2        Discount Store  0.08
3           Supermarket  0.06
4         Grocery Store  0.06


----S2----
              venue  freq
0               Pub  0.12
1       Coffee Shop  0.07
2              Café  0.06
3               Bar  0.05
4  Sushi Restaurant  0.03


----S20----
                  venue  freq
0                   Pub  0.12
1  Fast Food Restaurant  0.07
2          Tram Station  0.07
3         Grocery Store  0.05
4        Discount Store  0.05


----S3----
           venue  freq
0            Pub  0.20
1    Coffee Shop  0.08
2            Bar  0.06
3           Café  0.04
4  Burrito Place  0.02


----S30----
                venue  freq
0                 Pub  0.17
1  Chinese Restaurant  0.17
2                Park  0.17
3           Reservoir  0.17
4    Sculpture Garden  0.17


----S35----
               venue  freq
0  Convenience Store  0.17
1              Hotel  0.17
2      Grocery Store  0.17
3                Pub  0.17
4        Supermarket  0.08


----S4----
                  venue  freq
0                   Pub  0.16
1                   Bar  0.08
2                  Café  0.08
3  Gym / Fitness Center  0.08
4                 Hotel  0.05


----S5----
           venue  freq
0  Grocery Store  0.50
1    Supermarket  0.12
2      Pet Store  0.06
3            Gym  0.06
4           Park  0.06


----S6----
               venue  freq
0                Pub  0.18
1      Grocery Store  0.09
2        Supermarket  0.06
3     Discount Store  0.06
4  Indian Restaurant  0.05


----S7----
               venue  freq
0                Pub  0.17
1      Grocery Store  0.09
2               Café  0.08
3  Indian Restaurant  0.04
4        Coffee Shop  0.04


----S8----
                  venue  freq
0                   Pub  0.15
1         Grocery Store  0.13
2                  Café  0.10
3           Supermarket  0.08
4  Gym / Fitness Center  0.08


----S9----
                  venue  freq
0           Coffee Shop  0.10
1        Clothing Store  0.07
2  Fast Food Restaurant  0.06
3   American Restaurant  0.04
4           Pizza Place  0.04

In [46]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [48]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = sheffield_grouped['Neighborhood']

for ind in np.arange(sheffield_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(sheffield_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,S1,Pub,Coffee Shop,Bar,Café,Sushi Restaurant,Park,Gym / Fitness Center,Italian Restaurant,Pizza Place,Plaza
1,S10,Pub,Grocery Store,Indian Restaurant,Coffee Shop,Sandwich Place,Pizza Place,Park,Gastropub,Thai Restaurant,Liquor Store
2,S11,Pub,Grocery Store,Pizza Place,Sandwich Place,Coffee Shop,Fast Food Restaurant,Gym / Fitness Center,Indian Restaurant,Hotel,Supermarket
3,S12,Grocery Store,Tram Station,Pub,Indian Restaurant,Gym,Park,Food,Mexican Restaurant,Supermarket,Yoga Studio
4,S13,Grocery Store,Pub,Train Station,Supermarket,Yoga Studio,Diner,Falafel Restaurant,English Restaurant,Electronics Store,Donut Shop

In [51]:
kclusters = 7

sheffield_grouped_clustering = sheffield_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(sheffield_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([4, 4, 4, 2, 0, 2, 5, 4, 4, 4])

In [54]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

sheffield_merged = sheffPC

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
sheffield_merged = sheffield_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Postcode')

sheffield_merged.head() # check the last columns!

,Postcode,Latitude,Longitude,Town/Area,Region,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2353,S1,53.3806,-1.46947,Sheffield City Centre,Sheffield,4,Pub,Coffee Shop,Bar,Café,Sushi Restaurant,Park,Gym / Fitness Center,Italian Restaurant,Pizza Place,Plaza
2354,S2,53.3714,-1.45078,"Arbourthorne, Heeley, Highfield, Manor, Norfol...",Sheffield,4,Pub,Coffee Shop,Café,Bar,Grocery Store,Fast Food Restaurant,Sushi Restaurant,Chinese Restaurant,Concert Hall,Mediterranean Restaurant
2355,S3,53.3868,-1.47302,"Broomhall, Burngreave, Neepsend, Netherthorpe",Sheffield,4,Pub,Coffee Shop,Bar,Café,Food Court,Park,Cocktail Bar,Burrito Place,Mediterranean Restaurant,Concert Hall
2356,S4,53.3977,-1.45150,"Grimesthorpe, Pitsmoor",Sheffield,4,Pub,Gym / Fitness Center,Bar,Café,Food Court,Hotel,Pizza Place,Climbing Gym,Bakery,History Museum
2357,S5,53.4223,-1.46223,"Firth Park, Shirecliffe, Shiregreen, Southey G...",Sheffield,3,Grocery Store,Supermarket,Pet Store,Gourmet Shop,Pizza Place,Sandwich Place,Park,Gym,Garden,Donut Shop

In [61]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.jet(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(sheffield_merged['Latitude'], sheffield_merged['Longitude'], sheffield_merged['Postcode'], sheffield_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [60]:
sheffield_merged.loc[sheffield_merged['Cluster Labels'] == 0, sheffield_merged.columns[[0] + list(range(5, sheffield_merged.shape[1]))]]

,Postcode,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2365,S13,0,Grocery Store,Pub,Train Station,Supermarket,Yoga Studio,Diner,Falafel Restaurant,English Restaurant,Electronics Store,Donut Shop
2378,S35,0,Hotel,Grocery Store,Convenience Store,Pub,Fast Food Restaurant,Supermarket,Fish & Chips Shop,Train Station,Dance Studio,Deli / Bodega